# Collections

## While loop

```
while CONDITION:
	operation1
	operation2
	...
```

In [63]:
counter = 0
while counter < 10:
    print(counter)
    counter += 1  # counter = counter + 1
    
print('After while loop')

0
1
2
3
4
5
6
7
8
9
After while loop

In [64]:
# infinite loop example
# counter = 0
# while counter < 10:
#     print(counter)

## Tuple
- defined as ( ,)
- we can’t change a tuple contents after creation
- it’s immutable
- data within the tuple is ordered in the order of adding elements to the tuple
- assignment operator (=) will not work with tuple, we will get TypeError
- we use tuple to store heterogeneous data, data with different meaning, like a row from the excel table
- https://realpython.com/python-lists-tuples/ 
- https://stackoverflow.com/questions/626759/whats-the-difference-between-lists-and-tuples

In [65]:
# index     0        1     2    3     4
my_tuple = ('Piotr', 'GG', 182, 46.5, True)
print(my_tuple)
print(my_tuple[1])
print(my_tuple[4])

('Piotr', 'GG', 182, 46.5, True)
GG
True

In [66]:
#           0       1                2
#            0  1    0    1    2      0     1
my_tuple = ((1, 2), ('a', 'b', 'c'), (True, False))
print(my_tuple)
print(my_tuple[1][1])

((1, 2), ('a', 'b', 'c'), (True, False))
b

In [67]:
my_tuple = (((('b'),),),)
print(my_tuple[0][0][0])

b

In [68]:
# index     0    1    2    3    4    5    6    7    8    9
my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')
# -index    -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

In [69]:
print(my_tuple)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

In [70]:
print(my_tuple[0])

a

In [71]:
print(my_tuple[0:3])  # 0:3 - left-closed, right-opened, right is not included

('a', 'b', 'c')

In [72]:
print(my_tuple[3:7])

('d', 'e', 'f', 'g')

In [73]:
print(my_tuple[5:])  # from 5 till the end, we can skip end

('f', 'g', 'h', 'i', 'j')

In [74]:
print(my_tuple[:4])  # we can skip start

('a', 'b', 'c', 'd')

In [75]:
print(my_tuple[-1])

j

In [76]:
print(my_tuple[3:-2])

('d', 'e', 'f', 'g', 'h')

In [77]:
# [start:end:step] - start, end, step can be skipped
print(my_tuple[::2])

('a', 'c', 'e', 'g', 'i')

In [78]:
print(my_tuple[::-2])

('j', 'h', 'f', 'd', 'b')

In [79]:
print(my_tuple[::-1])

('j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

## Useful functions

In [80]:
print(len(my_tuple))  # will return the length of the collection, how many elements we have in a collection

10

In [81]:
# in operator - to check if particular value is present in the collection
print('a' in my_tuple)
print('q' in my_tuple) 
print('q' not in my_tuple)

True
False
True

In [82]:
numbers = (10, 20, 30, 40, 50)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

10
50
150

In [83]:
print(numbers.index(30))  # index from the collection of first occurence of this value
print(numbers.count(40))  # counts how many times particular value exists in a collection

2
1

## List

- defined as `[ ]`
- is mutable, we can add new elements to the list after its creation, change and delete existing ones
- as tuple, it’s ordered
- we use list to store homogeneous data, same type but different values, like consecutive readings of the temperature
- access operator `[start:stop:step]` works exactly the same as with tuples

In [84]:
my_list = [10, 20, 30, 40, 50]
print(my_list)

[10, 20, 30, 40, 50]

In [85]:
my_list[0:2]

[10, 20]

### How to modify a list?

https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

In [86]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# [] - access operator can be used not only to access the data from a collection but also to change it
print(my_list)
my_list[0] = 11
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[11, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [87]:
my_list[0:2] = [1, 2]
print(my_list)

my_list[0:2] = [1, 2, 3]
print(my_list)

my_list.append(110)
print(my_list)

my_list.insert(1, 12)  # .insert(index, value)
print(my_list)

[1, 2, 30, 40, 50, 60, 70, 80, 90, 100]
[1, 2, 3, 30, 40, 50, 60, 70, 80, 90, 100]
[1, 2, 3, 30, 40, 50, 60, 70, 80, 90, 100, 110]
[1, 12, 2, 3, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [89]:
my_list.extend([1000, 2000, 3000])
print(my_list)

[1, 12, 2, 3, 30, 40, 50, 60, 70, 80, 90, 100, 110, 1000, 2000, 3000, 1000, 2000, 3000]

In [90]:
del(my_list[0])
print(my_list)

[12, 2, 3, 30, 40, 50, 60, 70, 80, 90, 100, 110, 1000, 2000, 3000, 1000, 2000, 3000]

In [95]:
my_list = [1, 4, 2, 3, 7, 5, 6]
print(my_list)
my_list.sort()  # we are changing the original list
print(my_list)

[1, 4, 2, 3, 7, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [96]:
my_list = [1, 4, 2, 3, 7, 5, 6]
print(my_list)
sorted_list = sorted(my_list)  # sorted function accepts any collection and returns sorted elements in a list
print(sorted_list)
print(my_list)

[1, 4, 2, 3, 7, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 4, 2, 3, 7, 5, 6]


## How we can iterate through collection?

In [98]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

10
20
30
40
50
60
70
80
90
100

In [99]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# for LOCAL_VARIABLE in COLLECTION:
for number in my_list:
    print(number)

10
20
30
40
50
60
70
80
90
100

### range(start, stop - 1, step)

In [100]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [101]:
for number in range(-5, 6):
    print(number)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [102]:
for number in range(-10, 11, 2):
    print(number)

-10
-8
-6
-4
-2
0
2
4
6
8
10

### enumerate(iterable)

In [106]:
names = ['Tom', 'Ann', 'Chris', 'Peter']
for name in names:
    print(name)

Tom
Ann
Chris
Peter

In [107]:
# if you want to have an access to both index and value
names = ['Tom', 'Ann', 'Chris', 'Peter']
for name in enumerate(names):
    print(name, name[0], name[1])

(0, 'Tom') 0 Tom
(1, 'Ann') 1 Ann
(2, 'Chris') 2 Chris
(3, 'Peter') 3 Peter

In [110]:
names = ['Tom', 'Ann', 'Chris', 'Peter']
for name in enumerate(names, start=1):
    print(f'{name[0]}. {name[1]}')

1. Tom
2. Ann
3. Chris
4. Peter

#### unpacking

In [120]:
my_data = ('Piotr', 'Grabski-Gradzinski')
print(my_data)

first_name = my_data[0]
last_name = my_data[1]
print(first_name, last_name)

# the same operation but using unpacking feature of python
first_name, last_name = my_data  # the number of elements in a collection must match the number of variables on the left side, otherwise we will get an exception/error.
print(first_name, last_name)

('Piotr', 'Grabski-Gradzinski')
Piotr Grabski-Gradzinski
Piotr Grabski-Gradzinski

In [123]:
names = ['Tom', 'Ann', 'Chris', 'Peter']
for number, name in enumerate(names, start=1):
    print(f'{number}. {name}')

1. Tom
2. Ann
3. Chris
4. Peter

## String

Strings can also be considered a collection, in a sense that it's a collection of characters.

In [125]:
my_string = 'To be or not to be'
for character in my_string:
    print(character)

T
o

b
e

o
r

n
o
t

t
o

b
e

In [129]:
# Index oeprator works well with strings too, in the same way as with tuples or lists...
print(my_string[0])
print(my_string[1:5])
print(my_string[::-1])

T
o be
eb ot ton ro eb oT

In [135]:
# each method that is executed on a string gives a new, converted/changed string, the original one stays intact
print(my_string.upper())
print(my_string.lower())
print("Hello world".upper())
print(my_string.title())
print(my_string.capitalize())

TO BE OR NOT TO BE
to be or not to be
HELLO WORLD
To Be Or Not To Be
To be or not to be

In [146]:
my_string = '           Piotr.          '
print(f'>{my_string}<')
print(f'>{my_string.strip()}<')  # removes non-printable characters from the beginning and the end of the string
print(f'>{my_string.lstrip()}<')
print(f'>{my_string.rstrip()}<')
print(f'>{my_string.strip().strip(".")}<')

>           Piotr.          <
>Piotr.<
>Piotr.          <
>           Piotr.<
>Piotr<

In [148]:
my_string = 'Piotr Andrzej Grabski-Gradzinski'
my_string.split(' ')  # returns a list with splitted elements from the string

['Piotr', 'Andrzej', 'Grabski-Gradzinski']

In [151]:
names = ['Tom', 'Chris', 'Mary']
joined_names = ';'.join(names)
print(joined_names)

Tom;Chris;Mary

In [153]:
my_string = 'To be or not to be'
print(my_string.replace('o', '*'))

T* be *r n*t t* be

In [154]:
print('to' in my_string)

True