In [1]:
import pandas as pd

In [3]:
cities = ["Warsaw","Gdańsk","Kraków","Poznan","Wroclaw"]
cities_serie = pd.Series(cities)
cities_serie

0     Warsaw
1     Gdańsk
2     Kraków
3     Poznan
4    Wroclaw
dtype: object

In [4]:
cities_serie.values

array(['Warsaw', 'Gdańsk', 'Kraków', 'Poznan', 'Wroclaw'], dtype=object)

In [6]:
list( cities_serie.index )

[0, 1, 2, 3, 4]

In [7]:
len(cities_serie)

5

In [8]:
cities = ["Warsaw","Gdańsk","Kraków","Poznan","Wroclaw"]
plates = ["WI", "GD", "KR", "PO", "DW"]
cities_serie = pd.Series(cities, plates)
cities_serie

WI     Warsaw
GD     Gdańsk
KR     Kraków
PO     Poznan
DW    Wroclaw
dtype: object

In [9]:
cities_serie.index

Index(['WI', 'GD', 'KR', 'PO', 'DW'], dtype='object')

In [10]:
countries = ["Poland", "Germany", "Russia", "USA", "UK"]
population = [38321543, 84123567, 150765222, 320987654, 62123456]
serie = pd.Series(population, countries)
serie

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

In [11]:
def convert_pop(x):
    if x<50_000_000:
        return "L"
    if x<80_000_000:
        return "M"
    return "H"

In [14]:
convert_pop(2_000_000)

'L'

In [15]:
serie.apply(convert_pop)

Poland     L
Germany    H
Russia     H
USA        H
UK         M
dtype: object